@import "variables"

html
  font-size: 16px

body
  min-width: 320px
  color: $basic-color
  font-family: 'Lato', sans-serif
  font-weight: 400

a
  text-decoration: none

img
  display: block
  max-width: 100%

ol,ul
  margin: 0
  list-style: none
